<link rel="stylesheet" href="/js/plugin/bootstrapValidator/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/js/plugin/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/plugin/layui/css/layui.css">
<script type="text/javascript" src="/js/plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugin/bootstrapValidator/bootstrapValidator.min.js"></script>
		<script src="/js/jquery/jquery-2.1.1.min.js"></script>
		<script src="/js/plugin/layui/layui.js"></script>
		<script src="/js/common.js"></script>