<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>表单用例</title>
        <link rel="stylesheet" type="text/css" href="/js/easyui/themes/gray/easyui.css" />
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript">
            $(function(){

            });

            function create() {
                var indexName = $("#indexName").val();
                var url = "/indexes/create";
                var formData = {
                    index: indexName
                }
                $.post( url, formData, function( data ) {
                    console.log(data)
                    $("#msg").html(data);
                }, "json");
            }
        </script>
    </head>
    <body>
        <div style="padding: 10px">
            创建索引
        </div>
        <table class="table" cellspacing="1" cellpadding="4">
            <tr>
                <td style="width: 15%">索引名称</td>
                <td style="width: 85%">
                    <input id="indexName" name="indexName" class="easyui-textbox" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" onclick="create()" class="textbox-button" value="保存"/>
                </td>
            </tr>
        </table>

        <div id="msg"></div>
    </body>
</html>