a {font-size:9pt;font-family:"微软雅黑","宋体";color: #00457D; text-decoration: none}
a:hover {color: #FF0000; text-decoration: none;font-family:"微软雅黑","宋体"}

/* 手风琴菜单样式 */
.easyui-accordion ul li div {
    margin: 2px 0px;
    padding-left: 10px;
    padding-top: 2px;
}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:0px 5px 0px 10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}